<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengcheng.dao.oracleDao.HelloOracleDao">

    <select id="helloOracle" resultType="String">
        select test from test where rownum &lt; 2
    </select>


</mapper>